* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.debug {
    main {
        .container {
            height: 800px;
            background-color: blue;

            .row {
                background-color: red;

                .col {
                    background-color: yellow;

                    .card {
                        background-color: purple;

                        div {
                            background-color: green;
                            height: 300px;
                            width: 300px;
                        }
                    }
                }
            }

        }
    }
}

header {

    text-align: center;
    background-image: url(../img/wall.png);
    padding: 1rem;
    font-family: "Edu Tas Beginner", "sans-serif";
    font-size: 5rem;
}

main {
    background-image: url(../img/cork.png);
}

.card_edit {
    background-color: white;
    .img_container > img {
        width: 95%;

    }
}
.card_body{
    background-color: white;
    
    
    p{
        margin-bottom: 0;
        font-family: "Sometype Mono", "monospace";
    }
    h4{
        font-family: "Edu Tas Beginner", "sans-serif";
        padding-bottom: 1rem;
    }
}

.my_card{
    background-color: white;
    margin-top: 3rem;
    padding: 0.8rem 0 0.8rem 0.8rem;
    position: relative;
    box-shadow: 1px 1px 5px;
    margin-bottom: 1rem;
    .card_fix{
        position: absolute;
        top: -16px;
        left: 135px;
        
    }
}