* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.debug {
    main {
        .container {
            height: 800px;
            background-color: blue;

            .row {
                background-color: red;

                .col {
                    background-color: yellow;

                    .card {
                        background-color: purple;

                        div {
                            background-color: green;
                            height: 300px;
                            width: 300px;
                        }
                    }
                }
            }

        }
    }
}

header {

    text-align: center;
    background-image: url(../img/wall.png);
    padding: 1rem;
    font-family: "Edu Tas Beginner", "sans-serif";
    font-size: 5rem;
}

main {
    background-image: url(../img/cork.png);
    
}

.card_edit {
    background-color: white;
    .img_container > img {
        width: 95%;

    }
}
.card_body{
    background-color: white;
    
    
    p{
        margin-bottom: 0;
        margin-top: 1rem;
        font-family: "Sometype Mono", "monospace";
        color: #777c7f;
    }
    h4{
        font-family: "Edu Tas Beginner", "sans-serif";
        margin-bottom: 0;
        
    }
}

.my_card{
    background-color: white;
    margin-top: 3rem;
    padding: 0.8rem 0 0.8rem 0.8rem;
    position: relative;
    box-shadow: 1px 1px 5px;
    margin-bottom: 1rem;
    .card_fix{
        position: absolute;
        top: -16px;
        left: 45%;
        
    }
}
.relative{
    
    position: relative;
    height: 100vh;
    width: 100%;
    .overlay{
        position: absolute;
        left: 30%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            margin: 1rem 0;
            padding: 0.2rem 0.5rem;
            border: 0;
            display: none;
        }
        img{
            display: none;
        }
    }
}