* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.debug {
    main {
        .container {
            height: 800px;
            background-color: blue;

            .row {
                background-color: red;

                .col {
                    background-color: yellow;

                    .card {
                        background-color: purple;

                        div {
                            background-color: green;
                            height: 300px;
                            width: 300px;
                        }
                    }
                }
            }

        }
    }
}

header {

    text-align: center;
    background-image: url(../img/wall.png);
    padding: 1rem;
    font-family: "Edu Tas Beginner", "sans-serif";
    font-size: 5rem;
}

main {
    background-image: url(../img/cork.png);
}

.card_edit {
    background-color: white;
    padding: 0.8rem 0 0.8rem 0.8rem;
    margin-top: 3rem;
    img {
        width: 95%;

    }
}
.card_body{
    background-color: white;
    padding: 0 0.8rem;
    font-family: "Sometype Mono", "monospace";
}